* {
  margin: 0;
  padding: 0;
}

header .navbar {
  height: 70px;
  width: 100%;
  background-image: radial-gradient(white, rgba(243, 111, 111, 0.781));
}

header .logo img {
  width: 200px;
  align-items: center;
  margin-left: 60px;
  float: left;
  padding-top: 12px;
}
header nav {
  text-align: right;
  padding-top: 20px;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: brown;
}
nav ul li i.fas {
  border: none;
  color: brown;
}
.image img {
  align-items: center;
  padding-top: 10px;
  margin-left: 30%;
}
.paragraph {
  margin: 20px 250px 20px 250px;
}
.application {
  max-width: 1100px;
  margin-left: 380px;
}
form #name {
  width: 100px;
  height: 30px;
  border: none;
  font-size: 16px;
  text-align: center;
  background-color: white;
}
form #textname,
#textemail,
#textorder {
  width: 820px;
  height: 35px;
  border: 2px solid gray;
  margin-left: 20px;
}
#textmessage {
  width: 820px;
  height: 200px;
  border: 2px solid gray;
  padding: 5px 10px 5px 5px;
  text-align: left;
  vertical-align: top;
  margin-left: 20px;
}

#textphone1 {
  width: 400px;
  height: 35px;
  border: 2px solid gray;
  margin-left: 20px;
}
#textphone2 {
  width: 400px;
  height: 35px;
  border: 2px solid gray;
}
#choosefile {
  padding: 6px 6px 6px 6px;

  border: none;
  background-color: skyblue;
  font-size: 15px;
  margin-left: 20px;
}
#start {
  padding: 6px 6px 6px 6px;
  margin-left: 45%;
  border: none;
  background-color: skyblue;
  font-size: 15px;
}
