body {
  margin: 0;
  padding: 0;
  background-color: #999;
}
header .navbar {
  height: 70px;
  width: 100%;
  background-image: radial-gradient(white, rgba(243, 111, 111, 0.781));
}

header .logo img {
  width: 200px;
  align-items: center;
  margin-left: 60px;
  float: left;
  padding-top: 12px;
}
nav {
  text-align: right;
  padding-top: 12px;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: brown;
}
nav ul li i.fas {
  border: none;
  color: brown;
}
.bodysection {
  max-width: 1200px;
  height: 750px;
  padding-left: 25px;
  padding-right: 25px;
  align-content: center;
  background-color: white;
  margin-top: 0px;
  margin-left: 120px;
}
.column1 {
  float: left;
  width: 40%;
  padding: 20px;
  height: 300px;
}
.column1 img {
  padding-left: 60px;
  width: 380px;
  height: auto;
}
.column2 {
  float: left;
  width: 55%;
  padding-right: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.priceTag {
  border: 3px solid #999;
  margin: 10px;
  width: 180px;
  border-radius: 5px;
}
.priceTag:hover {
  background-color: #c0c0c0;
}
#circle {
  margin-left: 200px;
  margin-top: 16px;
}
.brownBox {
  background-color: #6a2500;
  padding: 10px 30px;
  color: #ffffff;
  border-radius: 5px;
  margin: 10px;
}
