header .navbar {
  height: 70px;
  width: 100%;
  background-image: radial-gradient(white, rgba(243, 111, 111, 0.781));
}

header .logo img {
  width: 200px;
  align-items: center;
  margin-left: 60px;
  float: left;
  padding-top: 12px;
}
nav {
  text-align: right;
  padding-top: 12px;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: brown;
}
nav ul li i.fas {
  border: none;
  color: brown;
}
.column1 {
  float: left;
  width: 40%;
  padding: 20px;
  height: 300px;
}
.column1 img {
  padding-left: 60px;
  width: 380px;
  height: auto;
}
.column2 {
  float: left;
  width: 55%;
  padding-right: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.priceTag {
  border-top: 3px double #999;
  border-right: 3px double #999;
  border-bottom: 3px double #999;
  border-left: 3px double #999;
  margin: 10px;
  width: 200px;
  border-radius: 5px;
}

.brownBox {
  background-color: #6a2500;
  padding: 10px 30px;
  color: #ffffff;
  border-radius: 5px;
  margin: 10px;
}
